.btn {
    width: 170px;
    height: 60px;
    background-color: #9C69E2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid transparent;
}

.btn--primary {
    background-color: rgb(156, 105, 226);
    transition: 0.5s;
    border: 1px solid transparent;
}

.btn--primary:hover {
    color: #9C69E2;
    background-color: #FFFFFF;
    border: 1px solid #9C69E2;
    }

.btn--secondary {
    background-color: rgb(219, 205, 240);
    transition: 0.5s;
    border: 1px solid transparent;
}

.btn--secondary:hover {
    color: #733bc2;
    background-color: #FFFFFF;
    border: 1px solid #9C69E2;
    }

.btn--small {
    font-size: 22px;
}

.btn--medium {
    font-size: 18px;
}


.main_btn:hover {
    color: #9C69E2;
    background-color: #FFFFFF;
    border: 1px solid #9C69E2;
}







