.main {
    width: 1100px;
    color: rgb(156, 105, 226);
}

.item {
    border: 1px solid rgb(241, 174, 238);
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;

}

.toy { 
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.toys-block {
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
}

.buttton {
    margin-bottom: 10px;
    margin-top: 10px;
    float: right;
    margin-left: auto;
    
}
