.toy-buy__price {
    margin-right: 20px;
    margin-top: 13px;
}

.toy-buy {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
}