toy.gtoypage__content { 
    display: flex;
}

.toy-page__left {
    width: 70%;
}

.toy-page__right {
    width: 30%;
}

.toy-page__buy-toy{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}